<div class="row" id="posts">
  <div class="col-12">
    <div class="row no-gutters">
      <div class="col-12 border-bottom pl-0 pb-2">
        <span class="title-section mr-4">Posts</span>
        <button class="btn btn-primary btn-sm" [routerLink]="['/posts/add']">
          Agregar Post
        </button>
      </div>
    </div>
    <div class="row no-gutters mt-4">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <span>Buscar</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 input-group">
            <input
              class="form-control"
              type="text"
              id="search"
              #search
              (keydown.enter)="updateword(search.value)"
              [placeholder]="'Escribe al menos tres caractres'"
            />
            <span class="input-group-btn">
              <button
                class="btn btn-primary rounded-0"
                (click)="updateword(search.value)"
              >
                Buscar
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters mt-4">
      <div class="col-12">
        <p-table [columns]="cols" [value]="posts" [responsive]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-post>
            <tr>
              <td>
                <span class="p-column-title">Post Seleccionado </span>
                <p-checkbox
                  name="posts"
                  [value]="post.id"
                  [(ngModel)]="selectedPosts"
                ></p-checkbox>
              </td>
              <td>
                <span class="p-column-title">Titulo Post </span>
                <span highlight [search]="searchWord">
                  {{ post.title }}
                </span>
              </td>
              <!-- <td>
                <span class="p-column-title">Conteniedo Post </span>
                <span highlight [search]="searchWord">
                  {{ post.content }}
                </span>
              </td> -->
              <td>
                <span class="p-column-title">Fecha Post </span>
                <span>
                  {{ post.date | date: "dd/MM/yyyy" }}
                </span>
              </td>
              <td>
                <span class="p-column-title">Categorias Post </span>
                <ng-container
                  *ngIf="!post.categories || post.categories.length === 0"
                >
                  <span>Sin Categorias</span>
                </ng-container>
                <span>
                  {{ post.categories }}
                </span>
              </td>
              <td>
                <span class="p-column-title">Imagen Post </span>
                <span *ngIf="post.img">
                  <img
                    src="{{ post.img }}"
                    class="img-fluid"
                    alt="{{ post.title }}"
                  />
                </span> 
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="row no-gutters mt-4" *ngIf="selectedPosts.length >= 1">
      <div class="col-12">
        <button class="btn btn-primary" (click)="deletePosts()">
          Eliminar
          {{ selectedPosts.length >= 2 ? "Posts" : "Post" }}
        </button>
      </div>
    </div>
  </div>
</div>
