 <app-widget>
     <span title-widget>Estadisticas del sitio</span>
     <div class="row" content-widget>
         <div class="col-12">
            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <i class="pi pi-users"></i>
                    <span class="ml-3 mr-3">Usuarios</span>
                    <span>{{numUsers}}</span>
                </div> 
                <div class="col-xl-6 col-lg-12">
                    <i class="pi pi-pencil"></i>
                    <span class="ml-3 mr-3">Post</span>
                    <span>{{numPost}}</span>
                </div> 
                <div class="col-xl-6 col-lg-12">
                    <i class="pi pi-comments"></i>
                    <span class="ml-3 mr-3">Comentarios</span>
                    <span>{{numPost}}</span>
                </div> 
            </div>
         </div>
     </div>
     <span footer-widget>Informacion de la web</span>
 </app-widget>