<div class="row">
  <div class="col-12">
    <div class="row no-gutters mb-4">
      <div class="col-12 border-bottom pl-0 pb-2">
        <span class="title-section">Agregar Categoria</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form #form="ngForm" (ngSubmit)="addPost()">
          <div class="row form-group">
            <div class="col-12 mt-4 mb-4">
              <label for="title">Titulo</label>
              <input
                type="text"
                class="form-control"
                id="title"
                required
                #title="ngModel"
                name="title"
                [(ngModel)]="post.title"
                [ngClass]="{
                  'is-valid': title.dirty && !title.errors,
                  'is-invalid': title.dirty && title.errors
                }"
              />
              <div class="valid-feedback">
                <span>Correcto</span>
              </div>
              <div class="invalid-feedback">
                <span *ngIf="title.errors?.required">Requerido</span>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-9 col-12 mb-4">
              <div class="row">
                <div class="col-12">
                  <!-- Editor -->
                  <p-editor
                    name="html"
                    [(ngModel)]="post.content"
                    #html="ngModel"
                    [style]="{ height: '22rem' }"
                  ></p-editor>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12 mb-4">
              <!-- Widgets -->
              <div class="row">
                <div class="col-12">
                  <app-widget-category (select)="getCategories($event)"></app-widget-category>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <app-widget-upload-thumbnail (sendPath)="getPath($event)"></app-widget-upload-thumbnail>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
